<!DOCTYPE HTML>
<!--
	Template obtido do site HTML5 UP e modificado por Guilherme Olier @OlierG.
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>G Olier - Sobre</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><%= link_to "Portfólio", root_path %></h1>
					<nav id="nav">
						<ul>
							<li><%= link_to "Home", root_path %></li>
							<li><%= link_to "Sobre Mim", principal_sobre_path %></li>
							<li><%= link_to "Contato", principal_contato_path %></li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>Guilherme Olier</h2>
							<p>Currículo Online</p>
						</header>

						<!-- Text -->
							<section>
								<h2> Formação Acadêmica </h2>
								<h3>Instituto Federal de Educação, Ciências e Tecnologia</h3>
								<p>Tecnologia em Análise e Desenvolvimento de Sistemas <br/>
								Segundo semestre - Campus Bragança Paulista<br/>
								Jan/2016 - Dez/2018</p>

								<h3>Centro de Formação Profissional Atibaia</h3>
								<p>Técnico em Logística Empresarial <br/>
								2015 </p>

								<hr />

								<header>
									<h2>Experiência Profissional</h2>
										<h3>SOS UseGuinchos</h3>
										<p>Auxiliar Administrativo/Operacional</p>
								</header>
								<p>Dentre as responsabilidades, estavam: Contato direto com clientes, recebimento de ordens de serviço, gerenciamento de disponibilidade, análise de custo, coordenação de pessoal ativo, emissão de nota etc. <br/> 
								Responsável pelo projeto e implantação de processos pertinentes a área. Redução de custos da área de 25% após conclusão. </p>

								<header>
									<h3> Bar e Restaurante Barão</h3>
										<p> Garçom/Auxiliar de Cozinha.</p>
								</header>
								<p> Principais atividades: Contato direto com clientes, preparo de bebidas, encaminhamento de pedidos, reposição de itens e utensílios, organização e limpeza do salão e Buffet, tratamento de contas e pagamentos. </p>
							</section>
					</div>
				</div>



			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">

						<li><a href="https://www.facebook.com/GuiOlier"><img src="http://icon-icons.com/icons2/693/PNG/512/Facebook_Rounded_Solid_icon-icons.com_61562.png" height="50" width="50"></a></li>

						<li><a href="https://br.linkedin.com/in/guiherme-olier"><img src="http://icon-icons.com/icons2/693/PNG/512/LinkedIn_Rounded_Solid_icon-icons.com_61559.png" height="50" width="50"></a></li>

						<li><a href="https://br.pinterest.com/GuiOlier/"><img src="http://icon-icons.com/icons2/693/PNG/512/Pinterest_Rounded_Solid_icon-icons.com_61557.png" height="50" width="50"></a></li>

						<li><a href="https://github.com/GuiOlier/"><img src="http://icon-icons.com/icons2/510/PNG/512/social-github_icon-icons.com_50019.png" height="50" width="50"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						<li>Editado por Guilherme Olier</li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>